@media (min-width: 768px) {
  .col-sm-7 {
    display:table-cell;
    float:none;
    margin-top:30px;
  }
  .col-sm-5 {
    display:table-cell;
    float:none;
    margin-top:30px;
  }
  h3 {
    padding-top: 30px;
  }
  h4 {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .row {
    height: 100%;
    display:table-row;
  }
}
.lightgrey {
  background-color:#E3E3E3;
}
@media (max-width: 767px) {
  .col-sm-7 {padding:3px}
  .col-sm-5 {padding:3px}
  body {padding-top: 20px;}
}
.codehighlight {
  padding: 0;
}
.lightgrey {
  background-color:#E3E3E3;
}
pre {
  display: block;
  width: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  white-space: pre;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.index {
  font-size: 15px;
  padding-left: 10px;
  line-height: 26px;
}
body {
  font-family:Ubuntu;
}
table thead tr th {
  padding-left:20px
}
.navbar {
  background: #3D0F62;
  -webkit-box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 5px 21px 0px rgba(0,0,0,0.15);
  border-bottom: 0;
}
@media print {
  #content a:link:after, #content a:visited:after {    
    content: " ";    
    font-size: 90%;   
  }
}